<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Device.Net" version="3.1.0" targetFramework="net461" />
  <package id="Fody" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="Hid.Net" version="3.1.0" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net461" />
</packages>